  body {
    background-image: url("../images/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #instructions {
    margin-top: 80px;
  }
  
  #map {
    margin-top: 20px;
    margin-left: 25px;
    width: 36rem;
    height: 350px;
  }

  #nat-flag{
      border-style: solid;
      border-color: black;
      border-width: 1px;
  }
